.main-header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;

}
legend{
    font-size: 30px;
}
fieldset{
    width: 700px;
    margin: auto;
    padding-left: 20px;
}
button{
    margin-left: 45%;
    margin-top:50px;
    font-size: 20px;
    margin-bottom: 100px;
}
