div{
    display: inline-block;
    width: 500px;
    text-align: center;
    margin-left:7%;
    box-shadow: 5px 5px 30px gray;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}
.main-header{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;


}